body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  text-align: center;
}
h1 {
  text-align: center;
}
#logo {
  margin-bottom: 4em;
}
#logo hr {
  color: orange;
  border: 0.1em solid;
  margin-bottom: 0;
}
#logo-pic {
  width: 13em;
  padding: 1em;
}
#logo p {
  background-color: #fdfbf1;
  color: #107777;
  margin: 0;
  padding: 1em;
}
#pic-credits {
  color: gray;
  text-align: center;
}
#credits span {
  color: #c9774f;
}
a {
  color: #75acad;
}
.content video {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px #dedede;
  width: 100%;
}
hr {
  color: #c4f3f2;
  border: 0.1em solid;
}
.content {
  margin: auto;
  width: 50%;
  text-align: left;
}
#ingredients {
  margin-top: 3rem;
}
#ingredients p {
  font-weight: bold;
}
.method ol li p:first-of-type {
  font-weight: bold;
}
